<nav class="navbar navbar-dark bg-dark">
    <div style="width: 100%">
        <img src="/images/logo.png" style="max-width: 50px">
        <a class="navbar-brand" href="#" style="padding: 10px; font-weight:bold">Faculty Recruitment | NIT Trichy</a>
    </div>
</nav>