<nav class="navbar navbar-dark bg-dark">
    <div style="width: 100%">
        <img src="/images/logo.png" style="max-width: 50px">
        <a class="navbar-brand" href="#" style="padding: 10px; font-weight:bold">Faculty Recruitment | NIT Trichy</a>

        <div class="links">
            <a href="/instructions">INSTRUCTIONS</a>
            <a href="/dashboard">DASHBOARD</a>
            <a href="/users/changePassword">CHANGE PASSWORD</a>
            <a href="/logout">LOGOUT</a>
        </div>
    </div>
</nav>