<!DOCTYPE html>
<html>
<head>
  <title>Faculty Recruitment | NIT Trichy</title>
  <%- include('partials/commonHeaderIncludes.partial.ejs') %>
  <style type="text/css">
    body{
      text-align: center;
    }
    .changePasswordBox{
      margin-top: 100px;
      border: 1px solid grey;
      border-radius: 10px;
      padding: 20px;
    }
    label{
      font-size: 16px;
    }
    input{
      padding: 8px;
    }
  </style>
</head>
<body>
  
  <%- include('partials/topNavbar.partial.ejs') %>
  
  <div class="changePasswordBox col-6" style="margin-left: 25%;">
    <p id="globalAlert"></p>
    <label class="col-4" class="oldPasswordBox">Enter old password:</label>
    <input class="col-3 oldPassword" type="password" name="oldPassword">
    <br>
    <p id="matchAlert"></p>
    <label class="col-4" class="newPasswordBox">Enter new password</label>
    <input class="col-3 newPassword" type="password" name="newPassword" >
    <br>
    <p></p>
    <label class="col-4" class="newPasswordConfirmationBox">Confirm new password</label>
    <input class="col-3 newPasswordConfirmation" type="password" name="newPasswordConfirmation">
    <br>
    <p></p>
    <button class="submit btn btn-primary">SUBMIT</button>
    <br>
  </div>

  <%- include('partials/footer.partial.ejs') %>
  <script type="text/javascript">
    let $oldPassword = $('.oldPassword');
    console.log($oldPassword.class);
    let $newPassword = $('.newPassword');
    let $newPasswordConfirmation = $('.newPasswordConfirmation');
    $('.submit').click(()=>{
      if($newPassword.val() != $newPasswordConfirmation.val()){
        toaster('matchAlert','Passwords do not match', 'red');
      }else{
        console.log($oldPassword.val(), $newPassword.val())
        $.ajax({
          method:'post',
          url:'/users/changePassword',
          data:{
            oldPassword:$oldPassword.val(),
            newPassword:$newPassword.val()
          }
        })
        .done(function(data){
          if(data.success){
            toaster('globalAlert', 'Password updated!', 'green');
          }else{
            toaster('globalAlert', data.message, 'red');
          }
        })
      }
    })


    function toaster(id, message, color){
      let $element = $('#'+id);
      $element.html(message);
      $element.css('color', color);
      setTimeout(()=>{
        $element.html('');
        $element.css('color', 'inherit');
      }, 3000);
    }
  </script>
</body>
</html>
  