<!DOCTYPE html>
<html>
<head>
  <title>Faculty Recruitment | NIT Trichy</title>
  <%- include('partials/commonHeaderIncludes.partial.ejs') %>
</head>
<body>
  
  <%- include('partials/topNavbar.partial.ejs') %>
  
  <div class="a-pplications" style="margin-left: 30px">
   <h3 style="padding: 100px;"> <%- message %> </h3>
  </div>

  <%- include('partials/footer.partial.ejs') %>
</body>
</html>
  
