<html>
<head>
    <title>Faculty Recruitment | Login</title>
    <%- include('partials/commonHeaderIncludes.partial.ejs') %>
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
</head>
<body>
    <%- include('partials/topNavbarForLoginAndSignup.partial.ejs') %>
    <br>
    <div class="signup_board">
        <h2 class="header">Register</h2>
        <hr>
        <p class="global_alert alert"></p>
        <div class="email_id_box">
            <span><label class="col-2">Email-id </label> <input type="text" class="col-4 emailId" name="emailId" placeholder="Enter email-id here"></span>
            <p class="alert alert_email col-4" style="margin-left: 42%;"></p>
        </div>
        <div class="name_box">
            <span><label class="col-2">Name </label> <input type="text" class="col-4 name" name="name" placeholder="Enter full name here"></span>
            <p class="alert alert_name col-4" style="margin-left: 42%;"></p>
        </div>
        <div class="password_box">
            <span><label class="col-2">Password </label><input type="password" class="col-4  password" name="password" placeholder="Enter password here"></span>
            <p class="alert alert_password col-4" style="margin-left: 42%;"></p>
        </div>
        <button class="btn submit btn-primary">SIGNUP</button>
        <br><br>
        <a href="/login">Already registered? Login here</a>
    </div>
    <%- include('partials/footer.partial.ejs') %>
</body>
<script>
    $(document).ready(()=>{
        let $globalAlert = $('.global_alert');
        let $emailId = $('.emailId');
        let $name = $('.name');
        let $password = $('.password');
        let $alert_email = $('.alert_email');
        let $alert_password = $('.alert_password');
        let $alert_name = $('.alert_name');
        $('.submit').click(()=>{
            let $emailIdValue = $emailId.val();
            let $passwordValue = $password.val();
            let $nameValue = $name.val();
            if($emailIdValue && $passwordValue){
                let r = $.ajax({
                    method:'POST',
                    url:'/users/register',
                    data:{
                        emailId:$emailIdValue,
                        password:$passwordValue,
                        name:$nameValue
                    }
                }).done((data)=>{
                    if(data.success){
                        $globalAlert.html(data.message);
                        $globalAlert.addClass('alert-success');
                        setTimeout(()=>{
                            $globalAlert.html('');
                            $globalAlert.removeClass('alert-success');
                        }, 10000)
                        //to a message asking to activate account
                        // location.href = '/users/dashboard';
                    }else{
                        $globalAlert.html(data.message);
                        $globalAlert.toggleClass('alert-danger');
                        setTimeout(()=>{
                            $globalAlert.html('');
                            $globalAlert.toggleClass('alert-danger');
                        }, 10000)
                    }
                    document.cookie = '';
                    //r.status
                });
                
            }
            if(!$emailIdValue){
                $alert_email.html("Email-id can't be empty!");
                $alert_email.addClass('alert-danger');
                setTimeout(()=>{
                    $alert_email.removeClass('alert-danger');
                    $alert_email.html('');
                },10000);
            }
            if(!$passwordValue){
                $alert_password.addClass('alert-danger');
                $alert_password.html("Password can't be empty!");
                setTimeout(()=>{
                    $alert_password.removeClass('alert-danger');
                    $alert_password.html('');
                },10000);
            }
            if(!$nameValue){
                $alert_name.addClass('alert-danger');
                $alert_name.html("Name field can't be empty!");
                setTimeout(()=>{
                    $alert_name.removeClass('alert-danger');
                    $alert_name.html('');
                },10000);
            }
        })
    })
</script>
</html>