module.exports = {
  "development": {
    "user": "root",
    "username": "root",
    "password": null,
    "database": "generic_applications_portal",
    "host": "127.0.0.1",
    "dialect": "mysql",
  },
  "test": {
    "user": "root",
    "username": "root",
    "password": null,
    "database": "generic_applications_portal",
    "host": "127.0.0.1",
    "dialect": "mysql",
  },
  "production": {
    "user": "root",
    "username": "root",
    "password": null,
    "database": "generic_applications_portal",
    "host": "127.0.0.1",
    "dialect": "mysql",
  },
};
